[submodule "three.js"]
	path = three.js
	url = https://github.com/mrdoob/three.js.git
[submodule "jQuery-contextMenu"]
	path = jQuery-contextMenu
	url = https://github.com/swisnl/jQuery-contextMenu.git
[submodule "jsoneditor"]
	path = jsoneditor
	url = https://github.com/JonGabilondoAngulo/jsoneditor.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
	branch = master
[submodule "flux"]
	path = flux
	url = https://github.com/facebook/flux.git
